<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CREATE NEW</title>
</head>
<body>
<form th:method="POST" th:action="@{/WEB_INF}" th:object="${comics}">
    <label for="title">Enter Title: </label>
    <input type="text" th:field="*{title}" id="title">
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" >Title error</div>

    <br>
    <label for="published">Enter published: </label>
    <input type="text" th:field="*{published}" id="published">
    <div style="color:red" th:if="${#fields.hasErrors('published')}" th:errors="*{published}" >published error</div>

    <br>
    <label for="penciler">Enter penciler: </label>
    <input type="text" th:field="*{penciler}" id="penciler">
    <div style="color:red" th:if="${#fields.hasErrors('penciler')}" th:errors="*{penciler}" >penciler error</div>

    <br>
    <label for="coverArtist">Enter coverArtist: </label>
    <input type="text" th:field="*{coverArtist}" id="coverArtist">
    <div style="color:red" th:if="${#fields.hasErrors('coverArtist')}" th:errors="*{coverArtist}" >coverArtist error</div>

    <br>
    <input type="submit" value="Create...">
</form>




<form th:method="PATCH" th:action="@{/WEB_INF}" th:object="${characters}">
    <label for="name">Enter Name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Name error</div>

    <br>
    <label for="power">Enter power: </label>
    <input type="text" th:field="*{power}" id="power">
    <div style="color:red" th:if="${#fields.hasErrors('power')}" th:errors="*{power}" >power error</div>



    <br>
    <input type="submit" value="Create...">
</form>
</body>
</html>